#nav-bar {
    height: 80px;
    width: 100%;
    background: #00a087;
    padding-right: 2em;
    padding-left: 2em;
    font-size: 200%;
    display: flex;
    align-items: center;
 }
 #nav-bar .header {
     color: #e8fdff;
 }
 #nav-bar .logo {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#nav-bar button.compose {
    padding: .7em;
    border-radius: 5px;
    font-size: .83em;
    border: 1px solid #000;
    background-color: #e6fdff;
    color: #279b88;
    
  }
  
#nav-bar button.compose:hover {
    background-color: #fff;
    color: #000;
    
  } 